<div class="container-fluid">
  <section class="row">
    <article class="col-md-6 txt-inicial">
      <p>Conheça pessoas novas e interessantes perto de você. </p>

    </article>
    <article class="col-md-6">
      <div class="box-img-perfil-user">

          <div class="element-animation-like not-like"><i class="fa fa-angle-double-left"></i></div>
          <div class="element-animation-like like"> <i class="fa fa-angle-double-right"></i></div>
            <img src="assets/img/fcf9fe442c7cfd80da6433af784d59d9.jpg" class="img-fluid" alt="">
            <div class="txt-user-show">
              <p>
                Priscila Duarte
                <br>
                1004 Gostei !
            </p>
              <div class="element-animation icon-user-hot">
                <i class="fa fa-fire"></i>
                
              </div>
              <span class="perfil-hot">Veja perfil Hot</span>
            </div>
          
      </div>
    </article>
  </section>
  <section class="row">
    <article class="col-md-6 txt-inicial">
      <p>Usuários que possuem fotos privadas em seu perfil acompanha o simbolo HOT.</p>
    </article>
    <article class="col-md-6">

    </article>
  </section>
</div>