<app-header></app-header>
<div class="container-fluid">
    <section class="row">
        <article class="col-md-6 txt-inicial">
            <p>Conheça pessoas novas e interessantes perto de você. </p>

        </article>
        <article class="col-md-6 pading-margin-0">
            <div class="box-img-perfil-user">

                <div class="element-animation-like not-like"><img src="assets/img/deny.png" width="50" height="50"></div>
                <div class="element-animation-like like"> <img src="assets/img/allow.png" width="50" height="50"></div>
                <img src="assets/img/fcf9fe442c7cfd80da6433af784d59d9.jpg" class="img-fluid" alt="">
                <div class="txt-user-show">
                    <p>
                        Priscila Duarte
                        <br> 1004 Likes
                    </p>
                    <div class="element-animation icon-user-hot">
                        <img src="assets/img/hotimage.png" width="100" height="100">
                    </div>
                    <span class="perfil-hot">Perfil Hot</span>
                </div>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col-md-4 txt-inicial">
            <p>
                Usuários que possuem fotos privadas em seu perfil acompanha o simbolo
                <img src="assets/img/hotimage.png" width="60" height="60">HOT.
            </p>
        </article>
        <article class="col-md-4 pading-margin-0">
            <img src="assets/img/likes.png" class="img-fluid" alt="">
        </article>
        <article class="col-md-4">
            <div class="txt-inicial">
                <p>
                    Exiba quantos "Likes" você recebeu!
                </p>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col-md-6 pading-margin-0">
            <div class="txt-inicial">
                <img src="assets/img/burns.png" class="img-fluid" alt="">
            </div>
        </article>
        <article class="col-md-6">
            <div class="txt-inicial">
                <p>
                    <span class="txt-destaque"> SEM LIMITES</span> de Likes, "De Burns" apenas com quem realmente gostou. E veja quem deu like em você <span class="txt-destaque"> GRATUITAMENTE.</span>
                </p>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col-md-6 pading-margin-0">
            <div class="txt-inicial">
                <img src="assets/img/likes.png" class="img-fluid" alt="">
            </div>
        </article>
        <article class="col-md-6">
            <div class="txt-inicial">
                <p>

                </p>
            </div>
        </article>
    </section>

    <section class="row">
        <article class="col-md-4 txt-inicial">
            <p>
                Usuários que possuem fotos privadas em seu perfil acompanha o simbolo
                <img src="assets/img/hotimage.png" width="60" height="60">HOT.
            </p>
        </article>
        <article class="col-md-4 pading-margin-0">
            <img src="assets/img/likes.png" class="img-fluid" alt="">
        </article>
        <article class="col-md-4">
            <div class="txt-inicial">
                <p>
                    Exiba quantos "Likes" você recebeu!
                </p>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col-md-6 pading-margin-0">
            <div class="txt-inicial">
                <img src="assets/img/burns.png" class="img-fluid" alt="">
            </div>
        </article>
        <article class="col-md-6">
            <div class="txt-inicial">
                <p>
                    <span class="txt-destaque"> SEM LIMITES</span> de Likes, "Dê Burns" apenas para quem realmente gostou. E veja quem deu like em você <span class="txt-destaque"> GRATUITAMENTE.</span>
                </p>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col-md-12 txt-inicial">
            Só os seus <span class="txt-destaque">"Burns"</span> podem conversar com você.
        </article>
    </section>
</div>
<app-footer></app-footer>